ibm-cloud-flow.json
[
    {
        "id": "c9903e5.6c2cfc",
        "type": "tab",
        "label": "IBM Cloud Flows",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9a6609a3.e8b658",
        "type": "function",
        "z": "c9903e5.6c2cfc",
        "name": "format for Db2",
        "func": "// Format Sensor Data for Db2\nmsg.payload = {\n  SENSORID : msg.deviceId,\n  TEMPERATURE : msg.payload.d.temperature,\n  HUMIDITY : msg.payload.d.humidity,\n  PRESSURE : msg.payload.d.pressure,\n  TIMESENT : 'TIMESTAMP'\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 360,
        "y": 80,
        "wires": [
            [
                "d7226f9f.e753d",
                "d1fd7b66.9e5898"
            ]
        ]
    },
    {
        "id": "d1fd7b66.9e5898",
        "type": "debug",
        "z": "c9903e5.6c2cfc",
        "name": "debug : Db2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 140,
        "wires": []
    },
    {
        "id": "dd0004e9.4f7268",
        "type": "comment",
        "z": "c9903e5.6c2cfc",
        "name": "Store environment data in Db2",
        "info": "",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "ccaa5e3f.75a9a",
        "type": "inject",
        "z": "c9903e5.6c2cfc",
        "name": "Green",
        "props": [
            {
                "p": "payload.d.color",
                "v": "green",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payloadType": "str",
        "x": 90,
        "y": 520,
        "wires": [
            [
                "cd170102.1dafe",
                "c5b30ec0.8e44a"
            ]
        ]
    },
    {
        "id": "f70bd6d2.6a61d8",
        "type": "inject",
        "z": "c9903e5.6c2cfc",
        "name": "All Off",
        "props": [
            {
                "p": "payload.d.color",
                "v": "off",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payloadType": "str",
        "x": 90,
        "y": 480,
        "wires": [
            [
                "c5b30ec0.8e44a",
                "cd170102.1dafe"
            ]
        ]
    },
    {
        "id": "c5b30ec0.8e44a",
        "type": "debug",
        "z": "c9903e5.6c2cfc",
        "name": "debug : IoT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 460,
        "wires": []
    },
    {
        "id": "fda6ba0.8394048",
        "type": "comment",
        "z": "c9903e5.6c2cfc",
        "name": "Send alarms to Sense Hat LED matrix",
        "info": "",
        "x": 170,
        "y": 440,
        "wires": []
    },
    {
        "id": "274ce65b.45283a",
        "type": "inject",
        "z": "c9903e5.6c2cfc",
        "name": "Red",
        "props": [
            {
                "p": "payload.d.color",
                "v": "red",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payloadType": "str",
        "x": 90,
        "y": 560,
        "wires": [
            [
                "cd170102.1dafe",
                "c5b30ec0.8e44a"
            ]
        ]
    },
    {
        "id": "10cf911.0a38e6f",
        "type": "ibmiot out",
        "z": "c9903e5.6c2cfc",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "cmd",
        "deviceId": "mySenseHat",
        "deviceType": "senseHat",
        "eventCommandType": "message",
        "format": "json",
        "data": "n/a",
        "qos": 0,
        "name": "IoT : message",
        "service": "registered",
        "x": 720,
        "y": 280,
        "wires": []
    },
    {
        "id": "b304caf1.8e6f08",
        "type": "ibmiot in",
        "z": "c9903e5.6c2cfc",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "",
        "applicationId": "",
        "deviceType": "",
        "eventType": "environment",
        "commandType": "",
        "format": "json",
        "name": "IoT : environment",
        "service": "registered",
        "allDevices": true,
        "allApplications": "",
        "allDeviceTypes": true,
        "allLogicalInterfaces": false,
        "allEvents": false,
        "allCommands": "",
        "allFormats": false,
        "qos": 0,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "9a6609a3.e8b658"
            ]
        ]
    },
    {
        "id": "d207e4a8.40a968",
        "type": "ibmiot in",
        "z": "c9903e5.6c2cfc",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "deviceId": "",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "joystick",
        "commandType": "",
        "format": "json",
        "name": "IoT : joystick",
        "service": "registered",
        "allDevices": true,
        "allApplications": "",
        "allDeviceTypes": true,
        "allEvents": "",
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 90,
        "y": 280,
        "wires": [
            [
                "34b2ff5f.7cd38"
            ]
        ]
    },
    {
        "id": "d7226f9f.e753d",
        "type": "Db2 out",
        "z": "c9903e5.6c2cfc",
        "Db2": "",
        "service": "db2-dallas-39538",
        "table": "Db2: SENSEDATA",
        "name": "",
        "x": 730,
        "y": 80,
        "wires": []
    },
    {
        "id": "ee646bcf.5de0b8",
        "type": "comment",
        "z": "c9903e5.6c2cfc",
        "name": "Take action on joystick events",
        "info": "",
        "x": 140,
        "y": 240,
        "wires": []
    },
    {
        "id": "34b2ff5f.7cd38",
        "type": "switch",
        "z": "c9903e5.6c2cfc",
        "name": "Switch",
        "property": "payload.d.key",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "LEFT",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "RIGHT",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "UP",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DOWN",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ENTER",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 330,
        "y": 280,
        "wires": [
            [
                "d49b14be.ef14a8"
            ],
            [
                "976af8ff.7b4438"
            ],
            [
                "b427a805.52afc8"
            ],
            [
                "3fdd2e88.d3ded2"
            ],
            [
                "f1087014.c3282"
            ]
        ]
    },
    {
        "id": "976af8ff.7b4438",
        "type": "change",
        "z": "c9903e5.6c2cfc",
        "name": "right",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.d.message",
                "pt": "msg",
                "to": "R",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.d.color",
                "pt": "msg",
                "to": "purple",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.d.background",
                "pt": "msg",
                "to": "black",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 240,
        "wires": [
            [
                "10cf911.0a38e6f"
            ]
        ]
    },
    {
        "id": "f1087014.c3282",
        "type": "change",
        "z": "c9903e5.6c2cfc",
        "name": "center",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.d.message",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.d.color",
                "pt": "msg",
                "to": "black",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.d.background",
                "pt": "msg",
                "to": "black",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 360,
        "wires": [
            [
                "10cf911.0a38e6f",
                "c5b30ec0.8e44a"
            ]
        ]
    },
    {
        "id": "3fdd2e88.d3ded2",
        "type": "change",
        "z": "c9903e5.6c2cfc",
        "name": "down",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.d.message",
                "pt": "msg",
                "to": "D",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.d.color",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.d.background",
                "pt": "msg",
                "to": "black",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 320,
        "wires": [
            [
                "10cf911.0a38e6f"
            ]
        ]
    },
    {
        "id": "b427a805.52afc8",
        "type": "change",
        "z": "c9903e5.6c2cfc",
        "name": "up",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.d.message",
                "pt": "msg",
                "to": "U",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.d.color",
                "pt": "msg",
                "to": "navy",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.d.background",
                "pt": "msg",
                "to": "black",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 280,
        "wires": [
            [
                "10cf911.0a38e6f"
            ]
        ]
    },
    {
        "id": "d49b14be.ef14a8",
        "type": "change",
        "z": "c9903e5.6c2cfc",
        "name": "left",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.d.message",
                "pt": "msg",
                "to": "L",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.d.color",
                "pt": "msg",
                "to": "orange",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.d.background",
                "pt": "msg",
                "to": "black",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 200,
        "wires": [
            [
                "10cf911.0a38e6f"
            ]
        ]
    },
    {
        "id": "cd170102.1dafe",
        "type": "ibmiot out",
        "z": "c9903e5.6c2cfc",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "cmd",
        "deviceId": "mySenseHat",
        "deviceType": "senseHat",
        "eventCommandType": "alarm",
        "format": "json",
        "data": "n/a",
        "qos": 0,
        "name": "IoT : alarm",
        "service": "registered",
        "x": 710,
        "y": 520,
        "wires": []
    }
]